body{
    background-color:white;
    margin:0;
    padding: 0;
    }
pre{
    display:none;
}
.full{
    display:none;
}
.c{
    display:none;

}
.boxx{
    display:none;
}
.cb:first-of-type{
    display:none;
}
.cb{
    display:block;
    background-color: red;
    color: white;
    margin-top: -30%;
    
     
   
}
p.cb{
    margin:0%;
    text-align:center;
    size:-10em;

}
.cb img{
    display:none;
}
.figcenter{
    display:none;
}
h1{
    color:white;
    background-color: red;
    margin:0;
    padding-top: 40vh;
    font-family: freehouse, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 7.5em;
}
h2{
    color:red;
    font-family: freehouse, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top:0;

}

table{
    font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; 
}
tr:nth-of-type(2n+1){
    font-family: freehouse, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
a{
    color:purple;
}
p{
    text-align:justify;
    margin-left:3%;
    margin-right:3%;

}

@media only screen and (max-width:800px){
    body{
        background-color:white;
    }
}
.cb{
    display:block;
    background-color: red;
    color: white;
    margin-top: -30%;
}
a{
    color:purple;
}
p{
    text-align:justify;
    margin-left:3%;
    margin-right:3%;
}
.cb{
    display:block;
    background-color: red;
    color:white;
    margin-top: -30%;
}
h1{
    color:white;
    background-color: red;
    margin:0;
    padding-top: 40vh;
    font-family: freehouse, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 4em;
}
@media only screen and (min-width:800px) and (max-width:1200px){
    body{
        background-color:white;

}
h1{
    color:red;
    background-color: red;
    margin:0;
    padding-top: 40vh;
    font-family: freehouse, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 4em;
