body{
    background-color:white;
    margin:0;
    padding: 0;
    }
pre{
    display:none;
}
.full{
    display:none;
}
.c{
    display:none;
}
.boxx{
    display:none;
}
.cb:first-of-type{
    display:none;
}
.cb{
    display:block;
    background-color: red;
    color: white;
    margin-top: 0;
}
.cb img{
    display:none;
}
.figcenter{
    display:none;
}
h1{
    color:white;
    background-color: red;
    margin:0;
    padding-top: 40vh;
    font-family: freehouse, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 7.5em;
}
h2{
    color:red;
    font-family: freehouse, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top:0;

}

table{
    font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; 
}
tr:nth-of-type(2n+1){
    font-family: freehouse, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
a{
    color:purple;
}




